body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    transition: 0.3s;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    width: 380px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

#display {
    grid-column: span 4;
    height: 60px;
    font-size: 28px;
    text-align: right;
    border: none;
    padding-right: 10px;
    border-radius: 10px;
    background: #eee;
}

button {
    height: 55px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    transform: scale(1.05);
}

.dark-mode {
    background-color: #121212;
}

.dark-mode .calculator {
    background-color: #1e1e1e;
}

.dark-mode #display {
    background-color: #333;
    color: white;
}

.dark-mode button {
    background-color: #444;
    color: white;
}
.history {
    margin-left: 30px;
    width: 250px;
}

.history h3 {
    margin-bottom: 10px;
}

.history ul {
    list-style: none;
    padding: 0;
}

.history li {
    background: #eee;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 8px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.menu button {
    padding: 10px;
    height: auto;
}
.scientific-section {
    margin-top: 20px;
    width: 380px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.scientific-section h2 {
    text-align: center;
}

.scientific-section button {
    margin: 5px;
}

.ocean-mode {
    background-color: #dff6ff;
}

.ocean-mode .calculator {
    background-color: #4ea8de;
}

.neon-mode {
    background-color: black;
}

.neon-mode .calculator {
    background-color: #222;
}

.neon-mode button {
    background-color: #39ff14;
}

.converter {
    margin-top: 20px;
    width: 380px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.converter input,
.converter select {
    width: 100%;
    margin: 5px 0;
    padding: 8px;
}